<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome" type="text" placeholder="Digite Seu Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Idade</ion-label>
    <ion-input [(ngModel)]="idade"type="number" placeholder="Digite sua idade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nome do Pai</ion-label>
    <ion-input [(ngModel)]="nPai" type="text" placeholder="Digite o nome do seu pai"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nome da Mae</ion-label>
    <ion-input [(ngModel)]="nMae" type="text" placeholder="Digite o nome da sua mae"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Endereco</ion-label>
    <ion-input [(ngModel)]="endereco" type="text" placeholder="Digite Seu Endereco"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">NUIT</ion-label>
    <ion-input [(ngModel)]=" nuit" type="number" placeholder="Digite o seu NUIT"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email" placeholder="Digite Seu Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Celular</ion-label>
    <ion-input [(ngModel)]="celular" type="number" placeholder="Digite Seu Numero de Celular"></ion-input>
  </ion-item>

  <ion-list lines="none">
    <ion-button [routerLink]="['/ver-dados']" (click)="salvarDados()" color="success">Salvar</ion-button>
    <ion-button color="danger">Cancelar</ion-button>
  </ion-list>
</ion-content>
