<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> HOME </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-input type="file" formControlName="pic"></ion-input>
    <ion-input
      type="text"
      formControlName="nome"
      placeholder="nome"
    ></ion-input>
    <ion-input
      type="number"
      formControlName="celular"
      placeholder="Digite seu celular"
    ></ion-input>
    <ion-button
      [routerLink]="linkAtivo ? '/ver-dados' : null"
      color="success"
      type="submit"
      >Salvar</ion-button
    >
    <ion-button color="danger">Cancelar</ion-button>
    <ion-button color="dark">Limpar</ion-button>
  </form>
</ion-content>
